*{
    padding: 1px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;

}

.mainBox {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    

}


.calcMenu {
    border: 1px solid gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    
    padding: 10px;
    height: 150px;
    width: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(200, 233, 241);
    

}
.result {
    border: 1px solid gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(138, 255, 127);

}

