* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(240, 240, 240);



}
.main {
    border: solid 50px rgb(240, 240, 240);
    padding: 1%;
    margin-top: 8vh;
    margin-bottom: 8vh;
    height: 100%;
    background-color: rgb(240, 240, 240);

}

.main h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.main p {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
}


.imgMainPage {
    width: 300px;
    margin: 1%;
    float: right;
    max-width: 700px;
    
    
}
.imgMainPage img {
    border: solid rgb(105, 191, 219) 1px;
    border-radius: 0.2cm;
    max-height: 100%;
    max-width: 100%;
}

/*Navigation bar*/

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(105, 191, 219), rgb(240, 240, 240));

}

.logo {
    color: rgb(50, 50, 50);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    width: 30%;
    font-family: 'Poppins', sans-serif;

}

.navLinks {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 30%;

}

.navLinks li {
    padding-right: 3px;
    list-style: none;
}

.navLinks a {
    padding: 0px 8px 0px 8px;
    font-size: 26px;
    letter-spacing: 3px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    color: rgb(50, 50, 50);
}

#rickRoll {
    -webkit-animation: colorchange 1000ms infinite; /* Safari 4+ */
    -moz-animation:    colorchange 1000ms infinite; /* Fx 5+ */
    -o-animation:      colorchange 1000ms infinite; /* Opera 12+ */
    animation:         colorchange 1000ms infinite; /* IE 10+, Fx 29+ */
  }

@-webkit-keyframes colorchange {
    0%   { opacity: 0.5; }
    50% { opacity: 1; }
    100%   { opacity: 0.5; }
  }
  @-moz-keyframes colorchange {
    0%   { opacity: 0.5; }
    50% { opacity: 1; }
    100%   { opacity: 0.5; }
  }
  @-o-keyframes colorchange {
    0%   { opacity: 0.5; }
    50% { opacity: 1; }
    100%   { opacity: 0.5; }
  }
  @keyframes colorchange {
    0%   { opacity: 0.5; }
    50% { opacity: 1; }
    100%   { opacity: 0.5; }
  }

.navLinks a:hover{
    color: royalblue;
}

@media screen and (max-width: 650px) {
    .logo {
       display: none; 
    }
    .imgMainPage {
        width: 100%;
    }
    .navLinks a {
        font-size: 20px;
    }
  }

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-image: linear-gradient(to top, rgb(105, 191, 219), rgb(240, 240, 240));

}
footer ul{
    display: flex;
    flex-flow: row;

}

footer li {
    list-style: none;
    margin-right: 30px; 
}

footer a, p{
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    text-decoration: none;
    color: rgb(50, 50, 50);

}

footer a:hover{
    color: royalblue;
}

/* calculators style */

.mainBox {
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}


.calcMenu {
    margin: 2px;
    border: 1px solid rgb(105, 191, 219);
    border-radius: 0.2cm;
    padding: 10px;
    height: 200px;
    width: 220px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(200, 233, 241);
}

.calcMenu p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.result {
    margin: 2px;
    border: 1px solid rgb(105, 191, 219);
    border-radius: 0.2cm;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px;
    height: 30px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(138, 255, 127);

}
.calcMenu input {
    text-align: center;
    width: 200px;
    height: 25px;
    font-size: 18px;   
    border: 1px solid rgb(105, 191, 219);
    border-radius: 0.2cm;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    outline: 0;

}
.calcMenu button {
    width: 200px;
    height: 25px;
    font-size: 18px;
    border: 1px solid rgb(105, 191, 219);
    border-radius: 0.2cm;
    background-color: rgb(105, 191, 219);
    border: none;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.calcMenu button:hover {
    background-color:royalblue; /* Green */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 3px 10px 0 rgba(0,0,0,0.19);

  }

/* Machines style */

.machines {
    padding: 1%;
    margin-top: 8vh;
    margin-bottom: 8vh;
    height: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}


.machineSubBlock{
    margin: .5% .5%;
    width: 100%;
    height: 100%;
    max-width: 683px;
    max-height: auto;

    /* background-color: blueviolet; */

}

.machines h4 {
    font-family: 'Montserrat', sans-serif;
    line-height: auto;
    letter-spacing: 2px;
    font-size: 20px;
}

/* .machines p {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: auto;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600;
    word-wrap: normal;
} */

.imgMachines {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 360px;
    max-height: auto;
}

.machines img {
    border: solid rgb(105, 191, 219) 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    border-radius: 0.2cm;
    max-height: 80%;
    max-width: 100%;
}

.machineSubBlock h4 {
    width: 100%;
    height: 50px;
    max-width: 683px;
    max-height: auto;
    border: 1px solid rgb(105, 191, 219);
    border-radius: 0.1cm;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(200, 233, 241);
}



@media screen and (max-width: 600px) {

    .machines {
        width: auto;
    }
    .machines p, h4 {
        width: auto;

    }
}